@import "../../assets/index.scss";

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

.canvas {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 30px rgba(86, 202, 95, 0.8);
    display: inline-block;
    border-radius: 3px;
    width: 100%;
    padding: 30px;
}